# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
.env
node_modules
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
BREVO_API_KEY=xsmtpsib-51057ddbd536e7fe3766be245a7f6849cff3ca1294e4a9d55429cc59c8810d38-WvhRnz7i1HNcUQoZ